<ion-content>
  
  
  <div class="ion-text-center ion-padding-top">
    <img src="../../assets/logo.png" width="250px">
    <h2>Under Maintenance</h2>
    <p class="ion-padding">
     {{maintenanceMSG}}
    </p>
  </div>
  <!-- <div class="text-center customDiv" >
    
  </div> -->
  <!-- <div class="full-size layout-column layout-align-center-vertical bootstrap snippets">
    <div class="size-7 horizontal-align">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <div class="logo-box logo-box-primary padding-top-4">
            <div class="logo">
              <b>B</b>
            </div>
          </div>
          <h2>Under Maintenance</h2>
          <p>We will be down for a short time.<br>Please check back later.</p>
        </div>
      </div>	
    </div>
  </div> -->
</ion-content>
