
.colorRed{
    color:red;
  }

  .card-wide {
    background: #fff;
    border-radius: 20px;
    height: auto;
    margin: 1rem;
    position: relative;
    width: auto;
  }
  
  .card {
    box-shadow:  0 10px 10px rgba(0,0,0,0.22);
  }

