<ion-header>
  <ion-toolbar>
    <ion-title>
      LeadBoard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <mat-tab-group (selectedTabChange)="onTabChanged($event);">
    <mat-tab>
      <ng-template mat-tab-label>
        Walking
      </ng-template>

      <div class="ion-padding-top">
        <table class="tbl">
          <tr>
            <th text-center>#</th>
            <th text-center>NAME</th>
            <th text-center>CHAPTER</th>
            <th text-center>CATEGORY</th>
            <th text-center>STEP COUNT</th>
          </tr>
          <tr *ngFor="let item of jsonItems let i = index"
            [ngClass]="{
            'first':i === 0,
            'second':i === 1,
            'third':i === 2
            }"

          >
            <td style="width:5%" text-center>{{i + 1}}</td>
            <td>{{item.name}}</td>
            <td>{{item.chap_name}}</td>
            <td>{{item.category}}</td>
            <td text-center>
              <div class="ion-text-center" slot="start">
                {{item.Totalcount}}
                <span *ngIf="i==0;else elseBlock"  slot="end">
                  <ion-icon  name="trophy"></ion-icon>
                </span>
                <ng-template #elseBlock>
                  &nbsp; &nbsp;
                </ng-template>

              </div>


            </td>
          </tr>

          <tr *ngIf="noRecord">
            <td colspan="5" class="ion-text-center">
              <h6 class="lists colorRed">No Data Available</h6>
            </td>
          </tr>

        </table>

      </div>

    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        Swimming
      </ng-template>

      <div class="ion-padding-top">
        <table class="tbl">
          <tr>
            <th text-center>#</th>
            <th text-center>NAME</th>
            <th text-center>CHAPTER</th>
            <th text-center>CATEGORY</th>
            <th text-center>STEP COUNT</th>
          </tr>
          <tr *ngFor="let item of jsonItems let i = index"
            [ngClass]="{
            'first':i === 0,
            'second':i === 1,
            'third':i === 2
            }"

          >
            <td style="width:5%" text-center>{{i + 1}}</td>
            <td>{{item.name}}</td>
            <td>{{item.chap_name}}</td>
            <td>{{item.category}}</td>
            <td text-center>
              <div class="ion-text-center" slot="start">
                {{item.Totalcount}}
                <span *ngIf="i==0;else elseBlock"  slot="end">
                  <ion-icon  name="trophy"></ion-icon>
                </span>
                <ng-template #elseBlock>
                  &nbsp; &nbsp;
                </ng-template>

              </div>


            </td>
          </tr>

          <tr *ngIf="noRecord">
            <td colspan="5" class="ion-text-center">
              <h6 class="lists colorRed">No Data Available</h6>
            </td>
          </tr>

        </table>

      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        Jogging
      </ng-template>

      <div class="ion-padding-top">
        <table class="tbl">
          <tr>
            <th text-center>#</th>
            <th text-center>NAME</th>
            <th text-center>CHAPTER</th>
            <th text-center>CATEGORY</th>
            <th text-center>STEP COUNT</th>
          </tr>
          <tr *ngFor="let item of jsonItems let i = index"
            [ngClass]="{
            'first':i === 0,
            'second':i === 1,
            'third':i === 2
            }"

          >
            <td style="width:5%" text-center>{{i + 1}}</td>
            <td>{{item.name}}</td>
            <td>{{item.chap_name}}</td>
            <td>{{item.category}}</td>
            <td text-center>
              <div class="ion-text-center" slot="start">
                {{item.Totalcount}}
                <span *ngIf="i==0;else elseBlock"  slot="end">
                  <ion-icon  name="trophy"></ion-icon>
                </span>
                <ng-template #elseBlock>
                  &nbsp; &nbsp;
                </ng-template>

              </div>


            </td>
          </tr>

          <tr *ngIf="noRecord">
            <td colspan="5" class="ion-text-center">
              <h6 class="lists colorRed">No Data Available</h6>
            </td>
          </tr>

        </table>

      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        Running
      </ng-template>

      <div class="ion-padding-top">
        <table class="tbl">
          <tr>
            <th text-center>#</th>
            <th text-center>NAME</th>
            <th text-center>CHAPTER</th>
            <th text-center>CATEGORY</th>
            <th text-center>STEP COUNT</th>
          </tr>
          <tr *ngFor="let item of jsonItems let i = index"
            [ngClass]="{
            'first':i === 0,
            'second':i === 1,
            'third':i === 2
            }"

          >
            <td style="width:5%" text-center>{{i + 1}}</td>
            <td>{{item.name}}</td>
            <td>{{item.chap_name}}</td>
            <td>{{item.category}}</td>
            <td text-center>
              <div class="ion-text-center" slot="start">
                {{item.Totalcount}}
                <span *ngIf="i==0;else elseBlock"  slot="end">
                  <ion-icon  name="trophy"></ion-icon>
                </span>
                <ng-template #elseBlock>
                  &nbsp; &nbsp;
                </ng-template>

              </div>


            </td>
          </tr>

          <tr *ngIf="noRecord">
            <td colspan="5" class="ion-text-center">
              <h6 class="lists colorRed">No Data Available</h6>
            </td>
          </tr>

        </table>

      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        Yoga
      </ng-template>

      <div class="ion-padding-top">
        <table class="tbl">
          <tr>
            <th text-center>#</th>
            <th text-center>NAME</th>
            <th text-center>CHAPTER</th>
            <th text-center>CATEGORY</th>
            <th text-center>STEP COUNT</th>
          </tr>
          <tr *ngFor="let item of jsonItems let i = index"
            [ngClass]="{
            'first':i === 0,
            'second':i === 1,
            'third':i === 2
            }"

          >
            <td style="width:5%" text-center>{{i + 1}}</td>
            <td>{{item.name}}</td>
            <td>{{item.chap_name}}</td>
            <td>{{item.category}}</td>
            <td text-center>
              <div class="ion-text-center" slot="start">
                {{item.Totalcount}}
                <span *ngIf="i==0;else elseBlock"  slot="end">
                  <ion-icon  name="trophy"></ion-icon>
                </span>
                <ng-template #elseBlock>
                  &nbsp; &nbsp;
                </ng-template>

              </div>


            </td>
          </tr>

          <tr *ngIf="noRecord">
            <td colspan="5" class="ion-text-center">
              <h6 class="lists colorRed">No Data Available</h6>
            </td>
          </tr>

        </table>

      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        Cycling
      </ng-template>

      <div class="ion-padding-top">
        <table class="tbl">
          <tr>
            <th text-center>#</th>
            <th text-center>NAME</th>
            <th text-center>CHAPTER</th>
            <th text-center>CATEGORY</th>
            <th text-center>STEP COUNT</th>
          </tr>
          <tr *ngFor="let item of jsonItems let i = index"
            [ngClass]="{
            'first':i === 0,
            'second':i === 1,
            'third':i === 2
            }"

          >
            <td style="width:5%" text-center>{{i + 1}}</td>
            <td>{{item.name}}</td>
            <td>{{item.chap_name}}</td>
            <td>{{item.category}}</td>
            <td text-center>
              <div class="ion-text-center" slot="start">
                {{item.Totalcount}}
                <span *ngIf="i==0;else elseBlock"  slot="end">
                  <ion-icon  name="trophy"></ion-icon>
                </span>
                <ng-template #elseBlock>
                  &nbsp; &nbsp;
                </ng-template>

              </div>


            </td>
          </tr>

          <tr *ngIf="noRecord">
            <td colspan="5" class="ion-text-center">
              <h6 class="lists colorRed">No Data Available</h6>
            </td>
          </tr>

        </table>

      </div>
    </mat-tab>
  </mat-tab-group>

</ion-content>